.languages{
    margin-top: -10px;
}
.sudhamurthy{
    color: #337ab4;
    font-weight: 400!important;
    font-style: normal!important;
    text-transform: none!important;
    text-decoration: none!important;
}
.murthy{
    margin-top: -5px;
    font-size: 11px;
}